# cheetah.snippets - Snippets for cheetah file type

snippet for "#for" b
#for $i in $range(10)
$i #slurp
#end for
endsnippet

snippet for "#for id in data" b
#for d in ${data}:
$d #slurp
#end for
endsnippet
