# yaml.snippets - Snippets for yaml file type

snippet _skeleton "Skeleton" b
`!v yaml#Open()`
$0
endsnippet

# snippet _skeleton "Generic template" b
# type: "${1:language/c}"
# cheetah: "${2:main}"
# data: {'chave1': descrição, 'chave2': como usar, 'chave3': "mantenedor"}
# $0
# endsnippet

