class ${Circle} : public ${Shape}
{
private:
    double _${radius};
public:
    ${Circle}(double a_${radius}) {
        _${radius} = a_${radius};
    }
    double ${area}() {
        return 3.14*_${radius}*_${radius};
    }
};
