int main()
{
    ${Window} *${wRect} = new ${Window}(new ${Rectangle}(10,20));
    ${Window} *${wCirc} = new ${Window}(new ${Circle}(20));
    cout << "rectangular ${Window}:" << ${wRect}->${area}() << endl;
    cout << "circular ${Window}:" << ${wCirc}->${area}() << endl;
    return 0;
}
