#root = File.absolute_path(File.dirname(__FILE__))
#json_attribs root  + '/nodes/node.json'
#json_attribs nil
#lockfile nil

log_level     :${log.level}
log_location  ${log.location}

ssl_verify_mode    :verify_peer
rest_timeout ${timeout}

node_name '${chef.node_name}'

validation_client_name '${validation.client_name}'
chef_server_url        'https://${chef.url}:${chef.port}'
trusted_certs_dir      '${certs}'
validation_key         '${etc}/${validation.client_name}.pem'

syntax_check_cache_path  '/root/.chef/syntax_check_cache'
client_key               '${etc}/admin.pem'

#solo false

checksum_path "${var}/checksums"

cookbook_path [
               '${var}/cookbooks',
               '${var}/site-cookbooks'
              ]

data_bag_path "${var}/data_bags"

#environment "production"
environment_path '${var}/environments'
file_backup_path '${var}/backup'
file_cache_path  '${var}/cache'
role_path        '${var}/roles'
json_attribs     '${var}/node.json'

encrypted_data_bag_secret_key_path '${etc}/encrypted_data_bag_secret'
